{% extends 'ceo/base.html' %}
{% block content %}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0"> <b>Branches Details</b></h1>
          <div class="cont"></div>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'add_branch' %}">Branches</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!--messages-->
      {% include 'message.html' %}
      <!--messages-->
      <!--row2 starts-->
      <div class="row">
        <div class="col-md-12">
          
           <div class="card shadow">
            <div class="card-header">
                

            <!-- Button trigger modal -->
            <div class="row">
                <div class="col-md-9">

          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
            Add Branch         
          </button>

          <!-- Modal -->
          <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Branch form</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>                
                
                </div>
                
              </div>
            </div>
          </div>
          </div>
      </div>
  <!--modal button-->

            </div>
            <div class="card-body">
            <!--table-->
            <table class="table table-borderd table-striped table-responsive" id="mytable">
              <thead>
                  <tr>
                      <th>Branch Name</th>
                      <th>Date Added</th> 
                      <th>Loan officer</th>  
                      <th>Actions</th>
                  </tr>
              </thead>
              <tbody>
                  {% for branch in query %}
                  <tr>
                      <td>
                          {{branch.name }}
                      </td>

                      <td>
                          {{branch.date_of_registration }}
                      </td>
                      <td>
                        {% if branch.user %}
                        {{ branch.user.username }}
                        {% else %}
                        <p class="text text-danger">No loan officer belong to this branch</p>
                        {% endif %}
                    </td>


                      <td style="display:flex;">
                          <a onclick="return confirm('Are you sure you want to delete this branch?')" href="{% url 'delete_branch' branch.id %}" class="btn btn-danger mr-3">Delete</a>
                          <a href="{% url 'edit_branch' branch.id %}" class="btn btn-info">Change</a>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
              </table>
           <!--table ends-->
            </div>

           </div>
        </div>
      </div>
      <!--row2 ends-->

    </div><!--/. container-fluid -->
  </section>
  <!-- /.content -->
{% endblock %}